/*Reglas BootStrap*/

.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 100vw !important;
    width: 100vw !important;
}

#cabecera {
    max-width: 100vw !important;
    width: 100vw !important;
}

body {
    /* background-color: black; */
    background-image: url(images/bg.jpg);
    overflow-x: hidden;
    overflow-y: scroll;
    background-size: cover;
    font-family: 'Anton', sans-serif;
}

a {
    text-decoration-line: none !important;
}


/*Cabecera-Header*/

#cabecera:first-child {
    max-height: 50px;
    float: left;
    height: 50px;
}

#cabecera {
    background-image: url("images/header-nologo.jpg");
    border-radius: 5px;
    background-size: cover;
}

#cabecera img {
    height: 42px;
    max-width: 200px;
    margin-top: 7px;
    position: relative;
    right: 10px;
}

#carrito {
    float: right;
}


/*Buscador*/

.fa {
    position: relative;
}

.cajaB {
    max-width: 180px;
    position: relative;
    top: 5px;
    width: auto;
    height: auto;
    left: 2%;
}

.contendor-buscador {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    display: initial;
}

.contendor-buscador .icon {
    position: absolute;
    margin-left: 4px;
    z-index: 1;
    color: #4f5b66;
    top: 0.150px;
}

.contendor-buscador input#buscar {
    padding-left: 30px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    color: #262626;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    width: 2px;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.contendor-buscador input#buscar:focus,
.contendor-buscador input#buscar:active {
    outline: none;
    width: 100%;
}

.contendor-buscador:hover input#buscar {
    width: 100%;
}

.contendor-buscador:hover .icon {
    color: #93a2ad;
}


/*Cuerpo-Body*/

#myCarousel {
    border: solid 8px;
    border-radius: 11px;
    border-color: #000000b3;
}


/*Navegador*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.informacion li {
    float: left;
}

li a,
.pestañabtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navegador li a:hover,
.pestaña:hover .pestañabtn {
    background-color: slategrey;
}

li.pestaña {
    display: inline-block;
}

.contenidoPestaña {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contenidoPestaña a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.contenidoPestaña a:hover {
    background-color: #f1f1f1
}

#navegador .pestaña:hover .contenidoPestaña {
    display: block;
}

.derechaUl{
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    color:white;
}

label{
    color:black;
}

/*Comienza el cuerpo de la página*/


/*Columna 3*/
#divCl {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

#divCl>li {
    list-style-type: none;
    display: inline-block;
}

#esconder div a img {
    height: 120px;
    float: left;
    margin-bottom: 10px;
}

#divCl>li>button {
    /* padding: 20px 60px; */
    outline: none;
    background-color: #00000083;
    color: white;
    border: none;
    border-radius: 5px;
}

#divCl>li>button:hover {
    background-color: #000000a8;
}

#divCl>li>button:active {
    background-color: #44444483;
    transform: translateY(4px);
}

#escondido {
    background-color: #0000008c;
}

#escondido h1 {
    color: white;
}


/*Pie de Página-Footer*/

footer ul {
    /*background-color: #0000008c;*/
    color: white;
}

ul .informacion {
    background-color: inherit !important;
}

footer ul li img {
    width: 30px;
}